name: CI/CD Docker Deploy

on:
  push:
    branches: [ main ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t softvence/policeynestai:latest .

      - name: Push Docker image
        run: |
          docker push softvence/policeynestai:latest

      - name: SSH to EC2 and deploy
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull softvence/policeynestai:latest
            docker stop policeynestai || true
            docker rm policeynestai || true
            docker run -d --name policeynestai -p 8000:8000 --env-file /home/ubuntu/app/.env softvence/policeynestai:latest
