name: CI/CD Docker Deploy

on:
  push:
    branches: [ main ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code with LFS
        uses: actions/checkout@v4
        with:
          lfs: true
      - name: Pull LFS files
        run: |
          git lfs install
          git lfs fetch --all
          git lfs pull

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t softvence/policeynestai:latest .

      - name: Push Docker image
        run: |
          docker push softvence/policeynestai:latest

      - name: SSH to EC2 and deploy
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo docker pull softvence/policeynestai:latest
            sudo docker stop policeynestai || true
            sudo docker rm policeynestai || true
            sudo docker run -d --name policeynestai -p 8000:8000 --env-file /home/ubuntu/FALL_in_love/.env softvence/policeynestai:latest


